REST/language-school-rest/src/main/resources/languages.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://wsdl.languageverifier.aznu.org/"
           targetNamespace="http://wsdl.languageverifier.aznu.org/"
           elementFormDefault="qualified">

    <xs:element name="LanguageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LanguageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="isAvailable" type="xs:boolean"/>
                <xs:element name="reason" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>